/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 


.under {
	width: 90%;
	margin: auto;
} 

.ccontenu {
	padding-top: 7em;
	padding-bottom: 4em;
	background-color: #FEFEFE;
}

.alert {
	color: #6A6A6A;
	padding: 1em 0;
	position: absolute;
	top: 4em;
	left: 50%;
	font-style: italic;
}
 .pagination {
 	display: none;
 	text-align: center;
 	width: 100%;
 }

 .texty {
 	display: block;
 	text-align: center;
 	width: 100%;
 }
 
 .texty img {
 	width: 20px;
 }
 
 body {
	font-family: 'Ubuntu', sans-serif;
}

.arrow {
	text-align: right;
	width: 100%;
}

.arrow a {
	color: #FF7743;
}


.header {
	padding: 1.5em 0;
	border-bottom: 1px solid #F2F2F2;
	position: fixed;
	z-index: 999;
	background-color: rgba(255, 255, 255, 1);
}


.footer {
	display: none;
	padding: 2em 3em 1em 0;
	border-bottom: 1px solid #F2F2F2;
	position: fixed;
	bottom: 0px;
	text-align: right;
	z-index: 999;
	background: transparent;
	font-size: 2em;
}


.titlelogo {
	font-family: 'Lobster', cursive;
	font-size: 1.8em;
	color: #575757;
}

.titleor {
	font-family: 'Lobster', cursive;
	font-size: 1.8em;
	color: #EA9776;
}

.titleor:hover,
.titleor:focus {
	color: #EA9776;
}

.titlelogo:hover,
.titlelogo:focus {
	color: #575757;
}

#menutop {
	text-align: right;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	padding-left: 2em;
	font-weight: bold;
}


#menutop .signup {
	color: #ff7743;
}

#menutop .signup:hover {
	color: #f44a09;
}

#menutop .signin {
	color: #32323c;
}

#menutop .signin:hover {
	color: #4b4b4b;
}

#menutop a {
	padding-left: 1em;
}

#menubox {
	text-align: right;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
}

#menubox a {
	padding-left: 1em;
	color: #9696a0;
}

.count {
	text-align: center;
	padding-left: 0.2em;
}

#lang a {
	color: #ff7743;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
}

.dlang {
	color: #9696a0;
}

.menugroup {
	margin-top: 0em;
	margin-bottom: 2em;
}

.debat,
.debat:hover
.debat:focus{
	padding-top: 2em;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8em;
	
}

.debat a {
	color: #32323a;
}

.opinion {
	padding-top: 3.5em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
}

.upcount {
	color : #9696a0;
	font-size: 3em;
	position: relative;
	top: 0.35em;
}

.upcountsign {
	color : #ff7743;
	font-size: 3em;
	position: relative;
	top: 0.35em;
}

.downcount {
	color : #9696a0;
	font-size: 3em;
	position: relative;
	bottom: 0.35em;
}

.downcountsign {
	color : #ff7743;
	font-size: 3em;
	position: relative;
	bottom: 0.35em;
}

.ouicount {
	font-family: 'Ubuntu', sans-serif;
	color: #ff7743;
	font-size: 1em;
}

.noncount {
	font-family: 'Ubuntu', sans-serif;
	color: #ff7743;
	font-size: 1em;
}

.oui {
	font-family: 'Ubuntu', sans-serif;
	color : #9696a0;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

.non {
	font-family: 'Ubuntu', sans-serif;
	color : #9696a0;
	font-size: 0.8em;
	margin-top: 0.5em;
}

.opincount {
	color: #78787e;
}

.reagir a {
	color: #ff7743;
}

.auteur {
	color: #9696a0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.85em;
	line-height: 1.5em;
}

.auteur .pseudo a {
	color: #ff7743;
}

.countresp {
	font-family: 'Ubuntu', sans-serif;
	margin-top: 1em;
}

.form {
	font-family: 'Ubuntu', sans-serif;
	color: #32323C;
}

input {
	margin-top: 1em;
}

.labelo {
	margin-bottom: 0.5em;
}

[type='text']:focus, [type='password']:focus, [type='email']:focus  {
	border-color: #FF7743;
}

[type='text'], [type='password'], [type='email']  {
	border-radius: .3em;
}


.signbutton {
	border: 1px solid #FF7743;
	background-color: rgba(255, 119, 67, 0.0);
	color: #000;
	border-radius: .3em;
	width: 80%;
	font-size: 1.1em;
}

.cancelbutton {
	margin-top: 1em;
	border: 1px solid #FF7743;
	background-color: #F9263F;
	color: #000;
	border-radius: .3em;
	width: 80%;
	font-size: 1.1em;
}

.signbutton:hover {
	background-color: rgba(255, 119, 67, 1);
	color: #fff;
}

.signbutton:focus {
	background-color: rgba(255, 119, 67, 1);
	color: #fff;
}

.sign {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	margin: 1em 0;
}

.cancel {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;
	margin: 1em 0;
}

.deja a {
	color: #000;
}

.deja a:hover {
	color: #717171;
}

.back a, .back {
	color: #ff7743;
	font-weight: bold;
	padding: 0.5em;
}

.back:hover, .back a:hover {
	color: #ff8967;
}


@media only screen and (max-width: 1024px) {
	.footer {
	padding: 2em 0.5em 1em 0;
	}
}

@media only screen and (max-width: 768px) {
	.ann {
		display: none;
	}
	
}

@media only screen and (min-width: 641px) {
	.countresp {
		display: none;
	}
}

@media only screen and (max-width: 640px) {
	.menugroup {
		margin-top: 5em;
	}
	
	#menutop {
		font-size: 0.8em;
	}

	.menugroup {
		text-align: center;
	}

	#menubox {
		text-align: center;
		margin-top: 0.6em;
	}

	.count {
		display: none;
	}
	.opinion {
		display: none;
	}

	.oui {
		font-size: 1em;
		padding-right: 0.3em;
	}

	.ouicount {
		padding-right: 0.5em;
	}

	.non {
		font-size: 1em;
		padding-right: 0.3em;
	}

	.noncount {
		padding-right: 0.5em;
	}

	.reagir {
		font-weight: bold;
	}

	.opincount {
		padding-right: 0.5em;
	}

}

@media only screen and (max-width: 320px) {
	.opincount {
		padding-right: 0.3em;
		font-size: 0.9em;
		font-style: italic;
	}

	.noncount {
		padding-right: 0.3em;
	}

	.non {
		padding-right: 0.2em;
		font-size: 0.9em;
	}

	.ouicount {
		padding-right: 0.3em;
	}

	.oui {
		font-size: 0.9em;
		padding-right: 0.2em;
	}

	.reagir {
		font-size: 0.9em;
	}
}
