<p id="notice"><%= notice %></p>

<div class="row menugroup expanded columns">
      <div class="large-2 columns">
        <span id="lang"><%= link_to 'Create a debat', new_debat_path %></span>
      </div>

      <div class="large-8 columns" id="menubox">
          <a href="#">Top</a>
          <a href="#">New</a>
          <a href="#">By country <i class="fa fa-angle-down"></i></a>
      </div>  
</div>
    
    <div id="products">
      <%= render "debats" %>
    </div>
    <%= will_paginate @debats %>
<br>
