<div class = "under">
<div id="top"></div>
<div class="row menugroup">
      <div class="large-2 columns">
        <span id="lang"><%= link_to 'Create a debat', new_debat_path %></span>
      </div>

      <div class="large-8 columns" id="menubox">
          <a href="#">Top</a>
          <a href="#">New</a>
          <a href="#">By country <i class="fa fa-angle-down"></i></a>
      </div>  
</div>

<div id="products">
  <%= render "debats" %>
</div>
</div>        
         
       
      
        <%= will_paginate @debats %>
    <div class="footer row expanded columns">
      <div class="large-10 columns">
        <span class="arrow"><%= link_to ' <i class="fa fa-arrow-up"></i>'.html_safe, root_path %></span>
      </div>
    </div>
<br>

